

header {
  width: 100%;
  position: relative; /* Retirer la hauteur pleine page et la rendre relative */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff; /* Texte blanc */
}

  .nav-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: auto;
    padding: 20px 45px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0;
    list-style: none;
    z-index: 20;
}

.nav-menu .left {
    margin-right: 22vw; /* pousse cet élément vers la gauche */
}

.nav-menu .right {
    margin-left: 22vw; /* pousse cet élément vers la droite */
}

.nav-menu li {
    margin: 0 1vw;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-menu img {
    position: absolute;
    height: 90%;
    width: auto;
    top: 3px;
    left: 8vw;
}


/* Ajout de styles pour la section À propos */
.a-propos {
    text-align: center;
    background-color: rgb(43, 42, 42);
    position: relative;
  }
  
  .a-propos h1 {
    font-size: 70px;
    margin-bottom: 50px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #ffffff;
    display: inline-block;
    padding: 10px 80px;
    color: #fff;

  }
  
  .team {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
  }
  
  .member {
    text-align: right;
    width: 200px;
    padding: 100px;
    color: #ffffff;
  }
  
  .member img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-right: 70px; 
  }
  
  .member p {
    margin: 50px 0;
    font-size: 50px;
    padding: 20px;
    text-align: right; /* Aligne le texte à droite */
    margin-left: 40px; /* Décale l'ensemble du paragraphe vers la droite */
  }
  
  

  .legal-container {
    text-align: center;
    max-width: 1800px;
    margin: 50px auto; 
    padding: 20px;
    background-color: rgb(43, 42, 42); 
    border-radius: 10px; 
  }
  
  h1 {
    font-size: 70px; 
    margin-bottom: 200px; 
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 10px 80px;
    color: #fff;
  }
  
  p {
    font-size: 1.5em;
    line-height: 1.6;
    margin-bottom: 50px; 
    padding: 10px;
    text-align: justify; 
    margin: 0 auto; 
  }
  
  p:last-child {
    margin-bottom: 0; 
  }


  .contact-form {
    text-align: center;
    max-width: 1800px;
    margin: 70px auto; /* Centrage horizontal avec marges */
    padding: 30px;
    background-color: rgb(43, 42, 42); /* Fond sombre pour la section */
    border-radius: 10px; /* Bord arrondi pour un effet doux */
    min-height: 500px;
  }
  
  .contact-form h1 {
    font-size: 70px; /* Taille du titre */
    margin-bottom: 100px; /* Espacement sous le titre */
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 10px 80px;
    color: #fff;
    text-align: right;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: 100%;
  }
  
  
  
  .contact-form input, 
  .contact-form textarea {
    padding: 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #e0e0e0;
    color: #333;
  }
  

  
  .contact-form button {
    padding: 20px;
    font-size: 18px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
  }
  
  .contact-form button:hover {
    background-color: #ccc;
  }

/* Style pour la section des remerciements */
.remerciements {
  background-color: #333; /* Fond gris foncé */
  color: #fff; /* Texte blanc */
  font-family: 'Arial', sans-serif; /* Police propre et lisible */
  font-size: 15px; /* Taille du texte */
  line-height: 1.5; /* Espacement entre les lignes */
  padding: 20px; /* Espacement intérieur */
  text-align: center; /* Centrer le texte */
}

.container {
  background-color: #292929;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-top: 20px;
  gap: 20px;
}

.container img {
  width: 1000px;
  height: 800px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content {
  text-align: center;
}

.content h2 {
  margin-top: auto;
  color: #1e3a5f;
}

/* Footer */

footer {
  background-color: #202020; 
  color: white;
  padding: 20px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}



.footer-middle {
  text-align: center;
}

.footer-middle p {
  margin: 5px 0;
  color: white;
  font-size: 14px;
}

.footer-logo {
  width: 50px; 
  height: auto;
  margin-top: 10px;
}


.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.footer-links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #d3d3d3; 
}
